.root{
    -fx-background-color: #191919;
}
/*Кнопка*/
.button{
    -fx-text-fill: #E6CAB4;
    -fx-font-size: 20;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: #424242;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
/*При наведении кнопки*/
.button:hover{
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-text-fill: #E6CAB4;
}
/*Лейбл*/
.label{
    -fx-text-fill: #E6CAB4;
    -fx-font-size: 20;
}

/*Копирайт*/
.copyright{
    -fx-font-size: 12;
}

/*Кнопка "Создать"*/
.b_create{
    -fx-background-color: #424242;
}
/*При наведении на кнопку "Создать"*/
.b_create:hover{
    -fx-background-color: rgba(66, 66, 66, 0.7);
}
/*Кнопки "Аккаунт" и "Настройки"*/
.b_right{
    -fx-border-color: rgba(0, 0, 0, 0);
}
/*Кнопки "О нас" и "Репозиторий"*/
.b_left{
    -fx-border-color: rgba(0, 0, 0, 0);
}

/*Кнопки проверки знаний*/
.tests{
    -fx-background-color: #424242;
}
/*При наведении на кнопки проверки знаний*/
.tests:hover{
    -fx-background-color: rgba(66, 66, 66, 0.7);
}

/*Кнопка "Карточка" в карточках*/
#card{
    -fx-background-radius: 15;
    -fx-background-color: rgba(66, 66, 66, 0.7);
    -fx-border-color: #424242;
    -fx-border-radius: 15;
    -fx-border-width: 5;
}
#card:hover{
    -fx-background-color: rgba(66, 66, 66, 1);
}
#card:pressed{
    -fx-border-color: #EDD89F;
}

/*Текстовые поля*/
.text-field{
    -fx-text-fill: #191919;
    -fx-control-border-color: #424242;
}
.text-field:focused{
    -fx-text-fill: #E6CAB4;
    -fx-background-color: rgba(66, 66, 66, 0.3);
}
.text-field:hover{
    -fx-background-color: rgba(66, 66, 66, 0.5);
}

/*Варианты ответов в тестировании*/
.radio-button{
    -fx-text-fill: #E6CAB4;
}

/*Поле выбора*/
.choice-box{
    -fx-text-fill: #E6CAB4;
    -fx-font-size: 20;
    -fx-background-color: rgba(66, 66, 66, 0.5);
    -fx-pref-width: 200px;
}

/*Текст "О нас"*/
.about_us{
    -fx-font-size: 12;
}