.root{
    -fx-background-color: linear-gradient(#3f5efb, #c633d0);
}
/*Кнопка*/
.button{
    -fx-background-color: cornflowerblue ;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
}
/*При наведении кнопки*/
.button:hover{
    -fx-background-color: #ffffff;
    -fx-text-fill: cornflowerblue;
}

/*Текст*/
.label{
    -fx-alignment: top-center;
    -fx-font-size: 24;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-text-fill: black;
    /*-fx-font-family: "JetBrains Mono";*/
}