/*Текст*/
.label{
    -fx-pref-width: 215px;
}
/*Текстовое поле*/
.text-field{
    -fx-pref-column-count: 50;
}
/*Лейблы "Счетчик" и "Созданная карточка"*/
#create_card{
    -fx-pref-width: 1000px;
}
#b_count{
    -fx-pref-width: 50px;
}