/*Кнопка*/
.button{
    -fx-translate-y: 10;
    -fx-translate-x: 10;
}
/*Кнопки "Аккаунт" и "Настройки"*/
.b_right{
    -fx-pref-width: 170px;
}
/*Кнопка "Создать"*/
#b_create{
    -fx-font-weight: bold;
    -fx-translate-x: 225;
}
/*Кнопки "О нас" и "Репозиторий"*/
.b_left{
    -fx-pref-width: 195px;
}