/*Кнопка "Тест"*/
#b_test{
    -fx-pref-width: 165px;
}
/*Кнопка "Карточки"*/
#b_card{
    -fx-pref-width: 120px;
}
/*Кнопка "Удалить тест"*/
#b_delete{
    -fx-pref-width: 165px;
}

/*Кнопка "Карточка" в карточках*/
#card{
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-wrap-text: true;
}
/*Кнопки "Верно" и "Неверно" в карточках*/
.cards_answers{
    -fx-pref-width: 115px;
}
/*Кнопки "Заново" и "Продолжить" в карточках*/
.cards_result{
    -fx-pref-width: 170px;
}

/*Варианты ответов в тестировании*/
.radio-button{
    -fx-font-size: 15;
    -fx-pref-width: 350px;
    -fx-wrap-text: true;
}

/*Лейблы вопросов из тестирования и письма*/
#questions_test{
    -fx-pref-width: 350px;
    -fx-pref-height: 200px;
    -fx-wrap-text: true;
}
#questions_text{
    -fx-pref-width: 615px;
    -fx-pref-height: 200px;
    -fx-wrap-text: true;
}

/*Текстовые поля в письме*/
.text-field{
    -fx-control-inner-background: white;
    -fx-background-radius: 5;
    -fx-pref-width: 615px;
    -fx-pref-height: 30px;
    -fx-font-size: 15px;
}
/*Кнопка "Продолжить" в письме*/
#text_continue{
    -fx-pref-width: 200px;
}