.root{
    -fx-background-color: #004048;
}
/*Кнопка*/
.button{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ACCBC3;
    -fx-font-size: 20;
    -fx-border-color: #ACCBC3;
}
/*При наведении кнопки*/
.button:hover{
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-text-fill: #ACCBC3;
    -fx-border-color: #ACCBC3;
}

/*Текст*/
.label{
    -fx-font-size: 24;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-text-fill: #ACCBC3;
}