.root{
    -fx-background-color: #F3E390;
}
/*Кнопка*/
.button{
    -fx-text-fill: #404148;
    -fx-font-size: 20;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: #F5D139;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
/*При наведении кнопки*/
.button:hover{
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-text-fill: #404148;
}
/*Лейбл*/
.label{
    -fx-text-fill: #404148;
    -fx-font-size: 20;
}

/*Копирайт*/
.copyright{
    -fx-font-size: 12;
}

/*Кнопка "Создать"*/
.b_create{
    -fx-background-color: #F5D139;
}
/*При наведении на кнопку "Создать"*/
.b_create:hover{
    -fx-background-color: rgba(245, 209, 57, 0.7);
}
/*Кнопки "Аккаунт" и "Настройки"*/
.b_right{
    -fx-border-color: rgba(0, 0, 0, 0);
}
/*Кнопки "О нас" и "Репозиторий"*/
.b_left{
    -fx-border-color: rgba(0, 0, 0, 0);
}

/*Кнопки проверки знаний*/
.tests{
    -fx-background-color: #F5D139;
}
/*При наведении на кнопки проверки знаний*/
.tests:hover{
    -fx-background-color: rgba(245, 209, 57, 0.7);
}

/*Кнопка "Карточка" в карточках*/
#card{
    -fx-background-radius: 15;
    -fx-background-color: rgba(245, 209, 57, 0.7);
    -fx-border-color: #F5D139;
    -fx-border-radius: 15;
    -fx-border-width: 5;
}
#card:hover{
    -fx-background-color: rgba(245, 209, 57, 1);
}
#card:pressed{
    -fx-border-color: #D4AD96;
}

/*Варианты ответов в тестировании*/
.radio-button{
    -fx-text-fill: #404148;
}

/*Текстовые поля*/
.text-field{
    -fx-text-fill: #404148;
    -fx-control-border-color: #F5D139;
}
.text-field:focused{
    -fx-background-color: rgba(245, 209, 57, 0.3);
}
.text-field:hover{
    -fx-background-color: rgba(245, 209, 57, 0.5);
}

/*Поле выбора*/
.choice-box{
    -fx-text-fill: #404148;
    -fx-font-size: 20;
    -fx-background-color: rgba(245, 209, 57, 0.5);
    -fx-pref-width: 200px;
}

/*Текст "О нас"*/
.about_us{
    -fx-font-size: 12;
}